absl-py==1.0.0
attrs==21.4.0
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.0.0
cycler==0.11.0
Fiona==1.8.21
fonttools==4.31.2
freetype-py==2.2.0
geopandas==0.10.2
google-auth==2.6.2
google-auth-oauthlib==0.4.6
grpcio==1.44.0
gym==0.23.1
gym-notices==0.0.6
idna==3.3
imageio==2.16.1
joblib==1.1.0
kiwisolver==1.4.2
llvmlite==0.38.0
Markdown==3.3.6
matplotlib==3.5.1
munch==2.5.0
networkx==2.7.1
numba==0.55.1
numpy==1.21.5
oauthlib==3.2.0
opencv-python==4.5.5.64
opensimplex==0.4.2
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
protobuf==3.20.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyglet==1.5.23
pymartini==0.4.3
PyOpenGL==3.1.0
pyparsing==3.0.7
pyproj==3.3.0
pyrender==0.1.45
python-dateutil==2.8.2
pytz==2022.1
PyWavelets==1.3.0
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.8.0
Shapely==1.8.1.post1
six==1.16.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
threadpoolctl==3.1.0
tifffile==2022.3.25
torch==1.11.0
tqdm==4.64.0
trimesh==3.10.7
typing_extensions==4.1.1
urllib3==1.26.9
Werkzeug==2.1.1
