gym==0.22.0
matplotlib==3.5.1
numba==0.55.1
numpy==1.21.5
opencv-python==4.5.5.62
opensimplex==0.4.2
pandas==1.4.0
pydelatin==0.2.6
pymartini==0.4.3
pyrender==0.1.45
rliable==1.0.6
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
tensorboard==2.8.0
tikzplotlib==0.10.1
torch==1.10.2+cu113
torch-tb-profiler==0.3.1
torchaudio==0.10.2+cu113
torchvision==0.11.3+cu113
tqdm==4.62.3
trimesh==3.10.5
